/* Common styles */

body{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: auto;
}

/* Header Styles */

.header{
    width: 1600px;
    height: 808px;
    background-image: url('../images/banner/banner1.png');
    align-items: center;
    text-align: right;
}

.page-title{
    color: var(--Dark-01, #151414);
    font-size: 65px;
    font-weight: 700;
    line-height: normal;
    max-width: 525px;
    max-height: 228px;
    padding: 216px 230px 0px 845px;
    margin: 0;
}

.title-summary{
    color: var(--Dark-02, #444343);
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    max-width: 494px;
    max-height: 78px;
    padding: 0px 230px 30px 876px;
    margin-top: 24px;
    margin-left: 31px;
}

.button-head{
    max-width: 160px;
    max-height: 64px;
    border: 0;
    border-radius: 5px;
    background: #F15B22;
    color: #FFF;
    font-size: 19px;
    font-weight: 600;
    line-height: normal;
    padding: 20px 26px;
    margin-right: 230px;
}

/* Segment 2 - Failures of previous year */

.failure-content{
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    max-width: 1200px;
}

.text-only{
    padding: 370px 322px 215px 0px;
    text-align: left;
}

.failure-pc{
    display: flex;
    padding: 140px 134px 0 206px;
}

.failure-title{
    color: var(--Dark-01, #151414);
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    width: 288px;
}

.failure-pc{
    padding:  139px 105px 100px 228px;
}

.listss li{
    list-style: none;
    background: url('../images/check\ 1.svg') no-repeat left top;
    padding-left: 30px;
    padding-bottom: 15px;

}

.failure-text{
    color: var(--Dark-02, #444343);
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 416px;
    height: 106px;
}

/* segment 3 - My Plans */

#plan-T{
    text-align: center;
    padding: 135px 710px 55px 710px;
    color: var(--Dark-01, #151414);
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
}











